.content_card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    height: 200px;
    width: 1700px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content_card_size{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content_header{
    font-size: 15;
    font-weight: bond;
    color: #004A96
}

.mini_card_class{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    height: 70px;
    width: 150px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.small_icon_card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    height: 70px;
    width: 70px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}


.medium_card_class{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    height: 90px;
    width: 150px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}


/* .startdate{
    width: 70px;
    height: 40px;
} */

.i_start{
    width: 50px;
    height: 20px;
}

.icon_card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    height: 90px;
    width: 350px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-right: 0rem;
}
.icon_card_img{
    box-shadow: rgba(0, 0, 0, 0.853) 0px 0px 0px 3px;
}
.icon_card_text{
    height: 90px;
    width: 240px;
}



.add_entity_content{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    height: 200px;
    width: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
