

/* https://codepen.io/adamriguez/embed/eRaXeq?height=316&theme-id=0&default-tab=result   */



.main_hex_card{
    /* background: rgb(123, 158, 158); */
    display:flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 auto;
    /* width: 1200px; */
    /* height: 400px; */
    --s: 250px;  /* size 200px  */ 
    --m: 10px;    /* margin 8px*/
    --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px); 
}


.main_hex_card::before {
    content: "";
    width: calc(var(--s) / 2 + var(--m));
    float: left;
    height: 100%; 
    shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
}


.hex_body {
    font-size: 0;   /* disable white space between inline block element */
}


.hexa{
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s) * 1.1547);
    display: grid;
    place-content: center;
    font-size:initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    background: #1d0287;
    margin-bottom: calc(var(--m) - var(--s) * 0.2885);
}


.hexa_content {
    width: 95%;
    height: 95%;
    box-sizing:border-box;
    text-align:center;
    place-content: center;
    font-weight: 300;
    opacity: 0;
}


.hexa_content_h1 {
    opacity: 0;
}


.hexa:hover {
    opacity: 0.5;
}


.hexa_content:hover {
    opacity: 1;
    transition: 0.3s;
}



