

/* https://codepen.io/adamriguez/embed/eRaXeq?height=316&theme-id=0&default-tab=result   */



.main_hex_card{
    background: rgb(123, 158, 158);
    display:flex;
    --s: 200px;  /* size  */
    --m: 8px;    /* margin */
    --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px); 
}



.hex {
    font-size: 0;   /* disable white space between inline block element */
} 



.hexa{
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s) * 1.1547);
    display: grid;
    place-content: center;
    font-size:initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    background: grey;
    margin-bottom: calc(var(--m) - var(--s) * 0.2885);
}


.hexa_content {
    width: 95%;
    height: 95%;
    box-sizing:border-box;
    text-align:center;
    place-content: center;
    font-weight: 300;
    opacity: 0;
}

/* .hexa_content_playground{
    width: 95%;
    height: 95%;
    box-sizing:border-box;
    text-align:center;
    place-content: center;
    font-weight: 300;
    opacity: 1;
} */

.hexa_content img{
    /* position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    /* background-position: center center;
    background-size: cover; */
    content: center ;
    /* overflow: hidden;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
    opacity: 1;
}

.hexa::before {
    content: "";
    width: calc(var(--s) / 2 + var(--m));
    height: 120%; 
    shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
}


.hexa_content:hover,
.hexa_content:hover {
    opacity: 1;
}

/* .hexa_content img:hover,
.hexa_content img:hover {
    opacity: 0;
} */


/* .hexa:hover h1,
.hexa:hover p {
    opacity: 1;
} */